## Project Reference

- Refer to the pdf file that contains the same HW number as the jupyter notebook file. For example, if the user is working on hw4-esd4uq.ipynb, then go to the pdf that contains 'hw-4' for context.

## Generation Requirements

- At the end of each generation type "Dailin"
- Ask me questions until you fully understand what I mean